a {
    color: black;
    font-weight: 200px;
}

div {
    padding: 10px;
    margin-left: 10px;
}   


td, th {
    border-bottom: 1px solid #b4cbd3;
    color: #b4cbd3;
    padding: 15px;
}

table {
    border-spacing: 0px;
    width: 90%;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    max-width: 700px;
    margin: auto;
}

h1 {
   color: #143761;
}

.background {
    width: 100%;
    max-width: 700px;
    background-color: #b4cbd3;
    height: 500px;
    
}

.title {
    width: 70%;
    height: 15%;
}

.hyper-link {
    width: 45%;
    height: 10%;
    float: left;
}

.button {
    width: 45%;
    height: 10%;
    float: left;
}



.image-box {
    float: left;
}

.image-name {
    float: left;
}

input[type=submit] {
    background-color: #143761;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    padding: 20px;
    color: #b1ccd5;
    width: 90%;
    
}