@font-face {
    font-family: '이쁜폰트';
    src: url(../font/NanumSquareAcB.woff);
}

body {
    font-family: '이쁜폰트';
}



.flex-container {
    display: flex;
}

.flex-item {
    width: 100%;
    height: 140px;
    margin: 5px;
    text-align: center;
}

h3 {
    margin-top: 40px;
}


@media screen and (max-width : 768px) { 
  .flex-item {
        display: block;
    }
    
