@font-face {
    font-family: '이쁜폰트';
    src: url(../font/NanumSquareAcB.woff);
}

body {
    font-family: '이쁜폰트';
}



.flex-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-container div {
    float: left;
    width: 25%;
    text-align: center;

}

h3 {
    margin-top: 40px;
}


@media screen and (max-width : 1200px) {
    .flex-container div {
        width: 50%;
    }

    .flex-container {
        max-width: 600px;
    }
}

@media screen and (max-width : 768px) {
    .flex-container div {
        width: 100%;
    }
