
.btn {
    padding:  15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
    
}

.btn:hover {
    background-color: cornflowerblue;
}

.btn:active {
    background-color: brown;
}

.btn:focus {
    background-color: greenyellow;
    border: 2px solid black;
}


.custom-link {
    text-decoration: none;
    
}

.custom-link:link {
    color: red;
}

.custom-link:visited {
    color: cornflowerblue;
}
